/* Filter */

.filter {
  width: 70%;
  max-width: 600px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 30px auto;
}

.filter-input-container {
  display: block;

  border: solid 2px #ccc8c8;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
}

.filter-input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  outline: none;

  padding: 10px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;

  font-size: 16px;
  font-weight: 500;
}

.filter-cancel-btn-container {
  border-right: solid 2px #ccc8c8;
  border-top: solid 2px #ccc8c8;
  border-bottom: solid 2px #ccc8c8;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.filter-cancel-btn {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;

  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;

  padding-left: 5px;
  padding-right: 10px;

  font-size: 14px;
  font-weight: 100;
}

.filter-btn-container {
  border: solid 2px #ccc8c8;
}

.filter-btn {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;

  padding-left: 20px;
  padding-right: 20px;

  font-size: 14px;
  font-weight: 600;

  transition: background-color 0.3s linear;
}

.filter-btn:hover {
  background-color: #ccc8c8;
}
